.inputFieldsWrapper {
  display: flex;
  background: linear-gradient(180deg, #307e6c, #2b996d);
  padding: 30px;
  box-sizing: border-box;
  border-radius: 0.25rem;
  width: 100%;
  max-width: 800px;
  flex-wrap: wrap;
  gap: 40px;
  margin: 30px auto 30px auto;
}
